  <app-progress-bar *ngIf="loading"></app-progress-bar>
  <div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center"> {{ operacao}} Produto</div>
            <div class="card-body">
                <form [formGroup] = "form" (ngSubmit)="addProduct()" >
                   <input formControlName="nome" type="text" class="form-control" placeholder="Digite  nome">     
                   <span *ngIf="form.get('nome')?.hasError('required') && form.get('nome')?.touched">
                        Campo nome é obrigatório
                   </span>
                   <input formControlName="description" type="text" class="form-control mt-2" placeholder="Digite descrição"> 
                   <span *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">
                    Campo descrição é obrigatório
                    </span>
                   <input formControlName="price" type="number" class="form-control mt-2" placeholder="Digite o preço"> 
                   <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched">
                    Campo preço é obrigatório
               </span>
                   <input formControlName="stock" type="number" class="form-control mt-2" placeholder="Digite o stock"> 
                   <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched" >
                    Campo estoque é obrigatório
               </span>
                   <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-secundary">Voltar</button>
                        </div>

                        <div class="col-lg-6">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceitar</button>
                        </div>
                   </div>
                </form>
            </div>
        </div>
    </div>
  </div>